<div id="<%= dom_id twerp %>">
  <p>
    <strong>Name:</strong>
    <%= twerp.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= twerp.content.upcase %>
  </p>

  <p>
    <strong>Created:</strong>
    <%= twerp.created_at %>
  </p>

</div>
